<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Legado - Hotel Boutique Spa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/wwwroot/build/css/index.css">
    <link rel="stylesheet" href="/wwwroot/build/css/icons.css">
    <link rel="stylesheet" href="/wwwroot/build/css/slick.css">
    <link rel="stylesheet" href="/wwwroot/build/css/slick-theme.css">
    <link rel="icon" href="/wwwroot/build/icon/favicon.ico">
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
     (function(){
        emailjs.init("user_yEPsT7ENJTS6PzRfxeGlf");
     })();
    </script>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row" style="border-bottom:1px solid #B49651;">
          <div class="col-xs-6 col-sm-6 col-md-2 text-left">
            <img src="/wwwroot/build/img/header-cl.png" alt="Casa Legado" class="logo-header">
            <img src="/wwwroot/build/img/logo-mobile.png" alt="Casa Legado" class="logo-mobile">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8 text-right menu-mobile-open">
            <img src="/wwwroot/build/img/icon-menu.png" class="icon-menu" alt="Menú">
          </div>
          <div class="col-md-10 menu-desktop">
            <ul style="margin-top:1rem">
              <li>
                <a href="#suites" class="scroll">Villas de Lujo</a></li>
              <li>
                <a href="#spa" class="scroll">Spa</a></li>
              <li>
                <a href="#wellness" class="scroll">Centro de Bienestar</a></li>
              <li>
                <a href="#restaurant" class="scroll">Restaurante</a></li>
              <li>
                <a href="#business" class="scroll" data-toggle="modal" data-target="#callNowBusiness">Centro de Negocios</a>
              </li>
              <li>
                <a href="#social" class="scroll" data-toggle="modal" data-target="#callNowBusiness">centro de convenciones</a>
              </li>
            </ul>
            <img src="/wwwroot/build/img/exclusive.png" alt="Experiencias exclusivas" id="exclusive">
            <img src="/wwwroot/build/img/book-now.png" alt="Reserva ahora" id="booking">
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mobile gold-bg white-color">
      <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <span class="icon-close"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>
                  <a href="#suites" class="scroll">Villas de Lujo</a></li>
                <li>
                  <a href="#spa" class="scroll">Spa</a></li>
                <li>
                  <a href="#wellness" class="scroll">Centro de Bienestar</a></li>
                <li>
                  <a href="#restaurant" class="scroll">Restaurante</a></li>
                <li>
                  <a href="#business" class="scroll" data-toggle="modal" data-target="#callNowBusiness">Centro de Negocios</a>
                </li>
                <li>
                  <a href="#social" class="scroll" data-toggle="modal" data-target="#callNowBusiness">Centro de convenciones</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="container slider-body">
        <div class="row text-center">
          <div class="col-sm-12 white-color">
            <h1 class="slider-title">casa legado</h1>
            <p class="slider-subtitle">experiencias inigualables</p>
            <p class="slider-btn">
              <a href="#" data-toggle="modal" data-target="#videoModal">
                <i class="icon-near_me"></i>
                descubre la magia de casa legado</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="intro">
      <div class="container" style="padding: 2rem 0 6rem 0;">
      <div class="row">
        <div class="col-sm-12 text-center intro-titles">
          <h2 class="title">casa legado spa resort</h2>
          <h3 class="gold-color">LUJO, EXCLUSIVIDAD Y PERSONALIZACIÓN PARA UNA ESTANCIA CON EXPERIENCIAS INIGUALABLES</h3>
        </div>
        <div class="col-sm-12">
          <p class="paragraph">
            Los valores hacen del ser, vivir con plenitud y trascender, todas nuestras villas reflejan el <span class="gold-color">LEGADO DE VALORES</span> que se han compartido de generación en generación.
            Disfruta en familia, pareja y amigos las 12 villas exclusivas de <span class="gold-color">CASA LEGADO</span> con un servicio de excelencia.
          </p>
         </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="amenities">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="title-1">amenidades</h2>
          </div>
        </div>
        <div class="amenities-carousel">
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/bar-cl.svg"/>
              <p class="card-title">bar</p>
              <p class="card-text">
                Degusta los mejores vinos y licores en un ambiente acogedor
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/bath-massage-cl.svg"/>
              <p class="card-title">tina de baño</p>
              <p class="card-text">
                Mejora tus problemas musculares
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/hidrofitness-cl.svg"/>
              <p class="card-title">hidrofitness</p>
              <p class="card-text">
                Fortalece y rehabilita tu cuerpo con ayuda de especialistas en terapia fisicac
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/cc-pool-cl.svg"/>
              <p class="card-title">alberca nado contracorriente</p>
              <p class="card-text">
                Mejora tu técnica de nado y ejercita tu cuerpo con un sistema innovador
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/hydrocave-cl.svg"/>
              <p class="card-title">cueva de hidromasaje</p>
              <p class="card-text">
                Relájate en un ecosistema de experiencias inolvidables
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/jacuzzi.svg"/>
              <p class="card-title">jacuzzi</p>
              <p class="card-text">
                Sumérgete en los jacuzzi de lujo que tenemos para ti
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/locker-cl.svg"/>
              <p class="card-title">lockers</p>
              <p class="card-text">
                Manten seguras tus pertenencias mientras disfrutas de tu experiencia
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/meditation-zone-cl.svg"/>
              <p class="card-title">zona de meditación</p>
              <p class="card-text">
                Estar bien contigo es lo más importante
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/parking-cl.svg"/>
              <p class="card-title">estacionamiento</p>
              <p class="card-text">
                Tu automóvil estará seguro todo el tiempo
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/multiple-room-cl.svg"/>
              <p class="card-title">sala multisensorial</p>
              <p class="card-text">
                Estimula todos tus sentidos, experimenta un viaje mágico
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/physio-cl.svg"/>
              <p class="card-title">valoración física</p>
              <p class="card-text">
                Contamos con  especialistas en fisioterapia para consulta
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/pool-cl.svg"/>
              <p class="card-title">alberca</p>
              <p class="card-text">
                Con un diseño de lujo para que lo disfrutes
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/restaurant-cl.svg"/>
              <p class="card-title">Restaurante</p>
              <p class="card-text">
                Prueba el sabor ancestral, platillos deliciosos hechos especialmente para ti
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/sauna-cl.svg"/>
              <p class="card-title">sauna</p>
              <p class="card-text">
                Libera toxinas y activa tu circulación
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/shower-cl.svg"/>
              <p class="card-title">regaderas</p>
              <p class="card-text">
                En cada área contamos con la comodidad y privacidad que te mereces
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/snack-cl.svg"/>
              <p class="card-title">zona de snack</p>
              <p class="card-text">
                Disfruta lo creatividad de el restaurante con una vista hermosa
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/spa-cl.svg"/>
              <p class="card-title">spa</p>
              <p class="card-text">
                Todo legado tiene su tesoro
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/temazcal-cl.svg"/>
              <p class="card-title">temazcal</p>
              <p class="card-text">
                una experiencia muy tradicional de forma terapéutica o ceremonial
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/vapor-cl.svg"/>
              <p class="card-title">vapor</p>
              <p class="card-text">
                Desintoxica y regenera la piel
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/yoga-cl.svg"/>
              <p class="card-title">yoga</p>
              <p class="card-text">
                Bienestar y relajación
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/lectura-cl.svg"/>
              <p class="card-title">zona de lectura</p>
              <p class="card-text">
                toma una taza de café y lee sobre el tema que más te guste
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/fogata.svg"/>
              <p class="card-title">fogata</p>
              <p class="card-text">
                El mejor ambiente para convivir con tus amigos y familia
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="suites" style="padding: 5rem 0;">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">villas de lujo</h2>
        </div>
      </div>
      <div class="row slick-villages-first">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6" style="padding-bottom:15px">
              <h3>villa amistad</h3>
              <h4>6 personas</h4>
              <p>2 recamaras</p>
              <div class="col-sm-12 text-center">
                <a href="/villages/villages.html?village=1" class="cl-btn">Ver Más</a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
              <h3>villa respeto</h3>
              <h4>4 personas</h4>
              <p>2 recamaras</p>
              <div class="col-sm-12 text-center">
                <a href="/villages/villages.html?village=2" class="cl-btn">Ver Más</a>
              </div>
            </div>
          </div>
        </div>
        <div>
        <div class="col-sm-8 col-sm-push-2 v-card-2">
          <div class="col-sm-6 villas-2" style="padding-right:0">
          </div>
          <div class="col-sm-6" style="padding-bottom:15px">
            <h3>villa autenticidad</h3>
            <h4>4 personas</h4>
            <p>1 recamára</p>
            <div class="col-sm-12 text-center">
              <a href="/villages/villages.html?village=3" class="cl-btn">Ver Más</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-8 col-sm-push-2 v-card-2">
          <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
          </div>
          <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
            <h3>villa serenidad</h3>
            <h4>4 personas</h4>
            <p>1 recamára</p>
            <div class="col-sm-12 text-center">
              <a href="/villages/villages.html?village=4" class="cl-btn">Ver Más</a>
            </div>
          </div>
        </div>
      </div>
      <div>
      <div class="col-sm-8 col-sm-push-2 v-card-2">
        <div class="col-sm-6 villas-2" style="padding-right:0">
        </div>
        <div class="col-sm-6" style="padding-bottom:15px">
          <h3>villa honestidad</h3>
          <h4>2 personas</h4>
          <p>1 recámara</p>
          <div class="col-sm-12 text-center">
            <a href="/villages/villages.html?village=5" class="cl-btn">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-8 col-sm-push-2 v-card-2">
        <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
        </div>
        <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
          <h3>villa coherencia</h3>
          <h4>2 personas</h4>
          <p>1 recámara</p>
          <div class="col-sm-12 text-center">
            <a href="/villages/villages.html?village=6" class="cl-btn">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
    <div>
    <div class="col-sm-8 col-sm-push-2 v-card-2">
      <div class="col-sm-6 villas-2" style="padding-right:0">
      </div>
      <div class="col-sm-6" style="padding-bottom:15px">
        <h3>villa decencia</h3>
        <h4>2 personas</h4>
        <p>1 recámara</p>
        <div class="col-sm-12 text-center">
          <a href="/villages/villages.html?village=7" class="cl-btn">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-8 col-sm-push-2 v-card-2">
      <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
      </div>
      <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
        <h3>villa compasión</h3>
        <h4>2 personas</h4>
        <p>1 recámara</p>
        <div class="col-sm-12 text-center">
          <a href="/villages/villages.html?village=8" class="cl-btn">Ver Más</a>
        </div>
      </div>
    </div>
  </div>
  <div>
  <div class="col-sm-8 col-sm-push-2 v-card-2">
    <div class="col-sm-6 villas-2" style="padding-right:0">
    </div>
    <div class="col-sm-6" style="padding-bottom:15px">
      <h3>villa docilidad</h3>
      <h4>2 personas</h4>
      <p>1 recámara</p>
      <div class="col-sm-12 text-center">
        <a href="/villages/villages.html?village=9" class="cl-btn">Ver Más</a>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="col-sm-8 col-sm-push-2 v-card-2">
    <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
    </div>
    <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
      <h3>villa voluntad</h3>
      <h4>2 personas</h4>
      <p>1 recámara</p>
      <div class="col-sm-12 text-center">
        <a href="/villages/villages.html?village=10" class="cl-btn">Ver Más</a>
      </div>
    </div>
  </div>
</div>
<div>
<div class="col-sm-8 col-sm-push-2 v-card-2">
  <div class="col-sm-6 villas-2" style="padding-right:0">
  </div>
  <div class="col-sm-6" style="padding-bottom:15px">
    <h3>villa alegría</h3>
    <h4>2 personas</h4>
    <p>1 recámara</p>
    <div class="col-sm-12 text-center">
      <a href="/villages/villages.html?village=11" class="cl-btn">Ver Más</a>
    </div>
  </div>
</div>
</div>
<div>
<div class="col-sm-8 col-sm-push-2 v-card-2">
  <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
  </div>
  <div class="col-sm-6 col-lg-pull-6" style="padding-bottom:15px">
    <h3>villa sencillez</h3>
    <h4>2 personas</h4>
    <p>1 recámara</p>
    <div class="col-sm-12 text-center">
      <a href="/villages/villages.html?village=12" class="cl-btn">Ver Más</a>
    </div>
  </div>
</div>
</div>
      </div>
    </div>
    <div class="container-fluid" id="wellness">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">centro de bienestar</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>aroma-terapia gotas de lluvia</h3>
              <h4>6 personas</h4>
              <p>ritual de bienvenida</p>
              <p>Cocktail de fruta y bebida</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>envoltura corporal de chocolate</h3>
              <h4>ritual de bienvenida</h4>
              <p>1 hora de alberca de hidromasaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="spa">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">spa tesoro de agua</h2>
          <p class="text-center">Es tiempo de consentirte con un tesoro de técnicas para la relajación y tranquilidad de tu cuerpo.</p>
        </div>
      </div>
      <div class="row slick-spa">
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">aroma-terapia<br/> gotas de lluvia</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=1" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Envoltura Corporal <br/>de Chocolate</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=2" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Vino-Terapia</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=3" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje Relajante</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=4" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje Moldeante</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=5" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje de Tejido Profundo</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=6" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje de Bambú</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=7" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje Holístico</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=8" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Terapia de Pindas</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=9" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="spa-card">
              <div class="col-sm-12">
                <div class="inner-card">
                  <h3 class="text-center white-color">Masaje Prenatal</h3>
                  <ul>
                    <li>Ritual de Bienvenida</li>
                    <li>Cocktail de Fruta y Bebida</li>
                    <li>1 hora en Alberca de Hidromasaje</li>
                  </ul>
                  <p class="more-spa">
                    <a href="/spa/spa.html?id=10" class="more-spa-a">Ver Más</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid" id="restaurant">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">restaurant los ancestros</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>aroma-terapia gotas de lluvia</h3>
              <h4>6 personas</h4>
              <p>ritual de bienvenida</p>
              <p>Cocktail de fruta y bebida</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>envoltura corporal de chocolate</h3>
              <h4>ritual de bienvenida</h4>
              <p>1 hora de alberca de hidromasaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="message">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="title-1">Déjanos un mensaje</h2>
        </div>
        <div class="col-sm-8 col-sm-push-2">
          <form action="#" class="form" id="sendMail">
            <div class="form-group">
              <input type="text" class="form-control fc-legado" name="userName" placeholder="Nombre" pattern="[A-Za-z\s]{3,25}" title="Escriba solo letras. Mínimo 3, máximo 25." required>
            </div>
            <div class="form-group">
              <input type="tel" class="form-control fc-legado" name="phone" placeholder="Teléfono" pattern="[0-9]{10}" title="Escriba 10 dígitos" required>
            </div>
            <div class="form-group">
              <input type="email" name="mail" class="form-control fc-legado" placeholder="Correo Electrónico" required>
            </div>
            <div class="form-group">
              <textarea name="message" class="form-control fc-legado" rows="8" placeholder="Mensaje..." cols="80" required></textarea>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn-send" name="Enviar"><span class="icon-near_me"></span> Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal for mail status -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-gold">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Envío de mensaje</h4>
      </div>
      <div class="modal-body text-center">
        <div>
          <img src="/wwwroot/build/img/Eclipse.svg" alt="Cargando..." style="width:150px">
        </div>
        <p>Enviando mensaje...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-white" style="display:none" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
    <div class="container-fluid" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="wwwroot/build/img/logo-new.png"/>
          </div>
          <div class="col-sm-3">
            <ul class="contact-list">
              <li>
                <a href="https://www.google.com.mx/maps/place/Casa+Legado+Spa+Resort/@21.8377151,-102.1949797,15z/data=!4m5!3m4!1s0x0:0xd09f565e792e8c9d!8m2!3d21.8377151!4d-102.1949797"
                target="_blank">
                  <span class="icon-near_me"></span> El Cono #100 B Villa Jesús Terán Lic. (Calvillito)</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-phone"></span> (449) - 238 41 15</a>
                  <br>
                  <a href="#">(449) 4063400</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-mail_outline"></span> contacto@casalegado.com.mx</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="section-list">
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  reservaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  habitaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  nosotros</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <p class="social-icons">
              <span class="icon-facebook"></span>
              <span class="icon-twitter"></span>
              <span class="icon-instagram"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid footer-last">
        <div class="col-sm-12 text-center">
          © Casa Legado | Todos los derechos reservados
        </div>
    </div>

    <!-- Modal for video -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KKdMJaTrm4c" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Call now Business -->
<div class="modal fade" id="callNowBusiness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content modal-gold">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-center" id="myModalLabel">Centro de Negocios y Convenciones</h4>
  </div>
  <div class="modal-body text-center">
    <p>Habla con nosotros para cotizar tu evento</p>
  </div>
  <div class="modal-footer">
    <a href="tel:4494063400" class="btn-white"><i class="icon-phone"></i> Llama ahora</a>
  </div>
</div>
</div>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/wwwroot/build/js/slick.js" charset="utf-8"></script>
  <script src="/wwwroot/build/js/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slick-villages-first').slick({
        dots: true
      });
      $('.slick-spa').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
      $('.amenities-carousel').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 2,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
    $('#sendMail').submit(function(event){
      var result = "";
      $("#myModal").modal('show');
      var info = $(this).serializeArray();
      console.log($(this).serializeArray()[0].value);
      emailjs.send("smtp_server", "new_message", {
        "name": info[0].value,
        "phone": info[1].value,
        "mail": info[2].value,
        "message": info[3].value
      })
      .then(function(response){
        console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
        result = "Mensaje enviado correctamente";
        modalMessage(result);
        document.getElementById('sendMail').reset();
      }, function(err){
        result = "Algo salió mal, intente más tarde";
        modalMessage(result);
        console.log("FAILED. error=", err);
      });
      event.preventDefault();
    });

    function modalMessage(message) {
      $('.modal-body img').fadeOut();
      $('.modal-body').text(message);
      $('#myModal').find('button').fadeIn();
    }
  </script>
  </body>
</html>
