<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Casa Legado - Hotel Boutique Spa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/wwwroot/build/css/index.css">
    <link rel="stylesheet" href="/wwwroot/build/css/icons.css">
    <link rel="stylesheet" href="/wwwroot/build/css/slick.css">
    <link rel="stylesheet" href="/wwwroot/build/css/slick-theme.css">
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row" style="padding-top:.5rem;">
          <div class="col-xs-6 col-sm-6 col-md-2 text-left">
            <img src="/wwwroot/build/img/logo-header.png" alt="Casa Legado" class="logo-header">
            <img src="/wwwroot/build/img/logo-mobile.png" alt="" class="logo-mobile">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8 text-right menu-mobile-open">
            <img src="/wwwroot/build/img/icon-menu.png" class="icon-menu" alt="Menú">
          </div>
          <div class="col-md-10 menu-desktop">
            <ul style="margin-top:1rem">
              <li>
                <a href="#suites" class="scroll">Villas de Lujo</a></li>
              <li>
                <a href="#spa" class="scroll">Spa</a></li>
              <li>
                <a href="#restaurant" class="scroll">Restaurant</a></li>
              <li>
                <a href="#wellness" class="scroll">Centro de Bienestar</a></li>
              <li>
                <a href="#business" class="scroll">Centro de Negocios</a>
              </li>
              <li>
                <a href="#social" class="scroll">Eventos Sociales</a>
              </li>
            </ul>
            <div id="booking" class="badge-menu">
              <p>Reserva Ahora</p>
            </div>
            <div id="exclusive" class="badge-menu">
              <p>Legados Exclusivos</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mobile gold-bg white-color">
      <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <span class="icon-close"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">nosotros</a></li>
                <li><a href="#">habitaciones</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">promociones</a></li>
                <li><a href="#">contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="container slider-body">
        <div class="row text-center">
          <div class="col-sm-12 white-color">
            <h1 class="slider-title">casa legado</h1>
            <p class="slider-subtitle">todo legado tiene su tesoro</p>
            <p class="slider-btn">
              <a href="#">descubre la magia de casa legado</a>
            </p>
            <p style="margin-top:2rem">
              <i class="icon-keyboard_arrow_left arrow left-slider"></i>
              <i class="icon-keyboard_arrow_right arrow right-slider"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="intro">
      <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center intro-titles">
          <h2 class="title">casa legado spa resort</h2>
          <h3>descubre la magia de casa legado</h3>
        </div>
        <div class="col-sm-12">
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
           </p>
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
         </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="amenities">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="title-1">amenidades</h2>
          </div>
        </div>
        <div class="amenities-carousel">
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/bar-cl.svg"/>
              <p class="card-title">bar</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/bath-massage-cl.svg"/>
              <p class="card-title">tina de baño</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/cc-pool-cl.svg"/>
              <p class="card-title">alberca nado contracorriente</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/hidrofitness-cl.svg"/>
              <p class="card-title">hidrofitness</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/hydrocave-cl.svg"/>
              <p class="card-title">cueva de hidromasaje</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/jacuzzi-cl.svg"/>
              <p class="card-title">jacuzzi</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/locker-cl.svg"/>
              <p class="card-title">lockers</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/meditation-zone-cl.svg"/>
              <p class="card-title">zona de meditación</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/multiple-room-cl.svg"/>
              <p class="card-title">sala multisensorial</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/parking-cl.svg"/>
              <p class="card-title">estacionamiento</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/physio-cl.svg"/>
              <p class="card-title">valoración física</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/pool-cl.svg"/>
              <p class="card-title">alberca</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/restaurant-cl.svg"/>
              <p class="card-title">restaurant</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/sauna-cl.svg"/>
              <p class="card-title">sauna</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/shower-cl.svg"/>
              <p class="card-title">regaderas</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/snack-cl.svg"/>
              <p class="card-title">zona de snack</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/spa-cl.svg"/>
              <p class="card-title">spa</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/temazcal-cl.svg"/>
              <p class="card-title">temazcal</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
          <div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/vapor-cl.svg"/>
              <p class="card-title">vapor</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="amenities-card">
              <img src="wwwroot/build/img/yoga-cl.svg"/>
              <p class="card-title">yoga</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>

          <div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="suites">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">villas de lujo</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>villa amistad</h3>
              <h4>6 personas</h4>
              <p>2 recamaras</p>
              <a href="#" class="cl-btn">Ver Más</a>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>villa respeto</h3>
              <h4>4 personas</h4>
              <p>2 recamaras</p>
              <a href="#" class="cl-btn">Ver Más</a>
            </div>
          </div>
        </div>
        <div>
        <div class="col-sm-8 col-sm-push-2 v-card-2">
          <div class="col-sm-6 villas-2" style="padding-right:0">
          </div>
          <div class="col-sm-6">
            <h3>villa autenticidad</h3>
            <h4>4 personas</h4>
            <p>1 recamára</p>
            <a href="#" class="cl-btn">Ver Más</a>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-8 col-sm-push-2 v-card-2">
          <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
          </div>
          <div class="col-sm-6 col-lg-pull-6">
            <h3>villa serenidad</h3>
            <h4>4 personas</h4>
            <p>1 recamára</p>
            <a href="#" class="cl-btn">Ver Más</a>
          </div>
        </div>
      </div>
      <div>
      <div class="col-sm-8 col-sm-push-2 v-card-2">
        <div class="col-sm-6 villas-2" style="padding-right:0">
        </div>
        <div class="col-sm-6">
          <h3>villa honestidad</h3>
          <h4>2 personas</h4>
          <p>1 recámara</p>
          <a href="#" class="cl-btn">Ver Más</a>
        </div>
      </div>
    </div>
    <div>
      <div class="col-sm-8 col-sm-push-2 v-card-2">
        <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
        </div>
        <div class="col-sm-6 col-lg-pull-6">
          <h3>villa coherencia</h3>
          <h4>2 personas</h4>
          <p>1 recámara</p>
          <a href="#" class="cl-btn">Ver Más</a>
        </div>
      </div>
    </div>
    <div>
    <div class="col-sm-8 col-sm-push-2 v-card-2">
      <div class="col-sm-6 villas-2" style="padding-right:0">
      </div>
      <div class="col-sm-6">
        <h3>villa decencia</h3>
        <h4>2 personas</h4>
        <p>1 recámara</p>
        <a href="#" class="cl-btn">Ver Más</a>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-8 col-sm-push-2 v-card-2">
      <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
      </div>
      <div class="col-sm-6 col-lg-pull-6">
        <h3>villa compasión</h3>
        <h4>2 personas</h4>
        <p>1 recámara</p>
        <a href="#" class="cl-btn">Ver Más</a>
      </div>
    </div>
  </div>
  <div>
  <div class="col-sm-8 col-sm-push-2 v-card-2">
    <div class="col-sm-6 villas-2" style="padding-right:0">
    </div>
    <div class="col-sm-6">
      <h3>villa docilidad</h3>
      <h4>2 personas</h4>
      <p>1 recámara</p>
      <a href="#" class="cl-btn">Ver Más</a>
    </div>
  </div>
</div>
<div>
  <div class="col-sm-8 col-sm-push-2 v-card-2">
    <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
    </div>
    <div class="col-sm-6 col-lg-pull-6">
      <h3>villa voluntad</h3>
      <h4>2 personas</h4>
      <p>1 recámara</p>
      <a href="#" class="cl-btn">Ver Más</a>
    </div>
  </div>
</div>
<div>
<div class="col-sm-8 col-sm-push-2 v-card-2">
  <div class="col-sm-6 villas-2" style="padding-right:0">
  </div>
  <div class="col-sm-6">
    <h3>villa alegría</h3>
    <h4>2 personas</h4>
    <p>1 recámara</p>
    <a href="#" class="cl-btn">Ver Más</a>
  </div>
</div>
</div>
<div>
<div class="col-sm-8 col-sm-push-2 v-card-2">
  <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
  </div>
  <div class="col-sm-6 col-lg-pull-6">
    <h3>villa sencillez</h3>
    <h4>2 personas</h4>
    <p>1 recámara</p>
    <a href="#" class="cl-btn">Ver Más</a>
  </div>
</div>
</div>
      </div>
    </div>
    <div class="container-fluid" id="spa">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">spa tesoro de agua</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>aroma-terapia gotas de lluvia</h3>
              <h4>6 personas</h4>
              <p>ritual de bienvenida</p>
              <p>Cocktail de fruta y bebida</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>envoltura corporal de chocolate</h3>
              <h4>ritual de bienvenida</h4>
              <p>1 hora de alberca de hidromasaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="wellness">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">centro de bienestar</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>aroma-terapia gotas de lluvia</h3>
              <h4>6 personas</h4>
              <p>ritual de bienvenida</p>
              <p>Cocktail de fruta y bebida</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>envoltura corporal de chocolate</h3>
              <h4>ritual de bienvenida</h4>
              <p>1 hora de alberca de hidromasaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="restaurant">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">restaurant los ancestros</h2>
        </div>
      </div>
      <div class="row slick-villages">
          <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-2" style="padding-right:0">
            </div>
            <div class="col-sm-6">
              <h3>aroma-terapia gotas de lluvia</h3>
              <h4>6 personas</h4>
              <p>ritual de bienvenida</p>
              <p>Cocktail de fruta y bebida</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-sm-8 col-sm-push-2 v-card-2">
            <div class="col-sm-6 villas-1 col-lg-push-6" style="padding-right:0">
            </div>
            <div class="col-sm-6 col-lg-pull-6">
              <h3>envoltura corporal de chocolate</h3>
              <h4>ritual de bienvenida</h4>
              <p>1 hora de alberca de hidromasaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="wwwroot/build/img/logo-header.png"/>
          </div>
          <div class="col-sm-3">
            <ul class="contact-list">
              <li>
                <a href="https://www.google.com.mx/maps/place/Casa+Legado+Spa+Resort/@21.8377151,-102.1949797,15z/data=!4m5!3m4!1s0x0:0xd09f565e792e8c9d!8m2!3d21.8377151!4d-102.1949797"
                target="_blank">
                  <span class="icon-near_me"></span> El Cono #100 B Villa Jesús Terán Lic. (Calvillito)</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-phone"></span> (449) - 238 41 15</a>
                  <br>
                  <a href="#">(449) 4063400</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-mail_outline"></span> contacto@casalegado.com.mx</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="section-list">
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  reservaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  habitaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  nosotros</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <p class="social-icons">
              <span class="icon-facebook"></span>
              <span class="icon-twitter"></span>
              <span class="icon-instagram"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid footer-last">
        <div class="col-sm-12 text-center">
          © Casa Legado | Todos los derechos reservados
        </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/wwwroot/build/js/slick.js" charset="utf-8"></script>
  <script src="/wwwroot/build/js/index.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slick-villages').slick();
      $('.amenities-carousel').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
    });
  </script>
  </body>
</html>
