<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Casa Legado - Hotel Boutique Spa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/wwwroot/build/css/index.css">
    <link rel="stylesheet" href="/wwwroot/build/css/icons.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 text-left">
            <img src="/wwwroot/build/img/logo-header.png" alt="Casa Legado" class="logo-header">
            <img src="/wwwroot/build/img/logo-mobile.png" alt="" class="logo-mobile">
          </div>
          <div class="col-xs-6 col-sm-6 text-right">
            <img src="/wwwroot/build/img/icon-menu.png" class="icon-menu" alt="Menú">
          </div>
        </div>
      </div>
    </header>
    <div class="menu-mobile gold-bg white-color">
      <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-right">
              <span class="icon-close"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">nosotros</a></li>
                <li><a href="#">habitaciones</a></li>
                <li><a href="#">eventos</a></li>
                <li><a href="#">promociones</a></li>
                <li><a href="#">contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="container slider-body">
        <div class="row text-center">
          <div class="col-sm-12 white-color">
            <h1 class="slider-title">casa legado</h1>
            <p class="slider-subtitle">spa resort</p>
            <p class="slider-btn">
              <a href="#">un legado de ideas</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="suites">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">revisar disponibilidad</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 suites image one"></div>
        <div class="col-sm-6 suites content">
          <h3>presidencial</h3>
          <h4>suite</h4>
          <p>
            <span style="font-weight:bold">$1,200.00</span>/ noche
          </p>
          <p>
            <a href="#">detalles</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 suites content">
          <h3>ejecutiva</h3>
          <h4>suite</h4>
          <p>
            <span style="font-weight:bold">$800.00</span>/ noche
          </p>
          <p>
            <a href="#">detalles</a>
          </p>
        </div>
        <div class="col-sm-6 suites image two"></div>
      </div>
    </div>
    <div class="container-fluid" id="amenities">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="title-1">amenidades</h2>
          </div>
          <div class="col-sm-4">
            <div class="amenities-card">
              <span class="icon-local_bar"></span>
              <p class="card-title">restaurante</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="amenities-card">
              <span class="icon-restaurant_menu"></span>
              <p class="card-title">bar</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="amenities-card">
              <span class="icon-pool"></span>
              <p class="card-title">piscina</p>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="wwwroot/build/img/logo-header.png"/>
          </div>
          <div class="col-sm-3">
            <ul class="contact-list">
              <li>
                <a href="https://www.google.com.mx/maps/place/Casa+Legado+Spa+Resort/@21.8377151,-102.1949797,15z/data=!4m5!3m4!1s0x0:0xd09f565e792e8c9d!8m2!3d21.8377151!4d-102.1949797"
                target="_blank">
                  <span class="icon-near_me"></span> El Cono #100 B Villa Jesús Terán Lic. (Calvillito)</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-phone"></span> (449) - 238 41 15</a>
                  <br>
                  <a href="#">(449) 4063400</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-mail_outline"></span> contacto@casalegado.com.mx</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <ul class="section-list">
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  reservaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  habitaciones</a>
              </li>
              <li>
                <a href="#">
                  <span class="icon-keyboard_arrow_right"></span>
                  nosotros</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <p class="social-icons">
              <span class="icon-facebook"></span>
              <span class="icon-twitter"></span>
              <span class="icon-instagram"></span>
            </p>
          </div>
        </div>
      </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/wwwroot/build/js/index.js" charset="utf-8"></script>
  </body>
</html>
