<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/wwwroot/build/css/villages.css">
  </head>
  <body>
    <div class="container-fluid villages-hero">
      <div class="container">
        <div class="col-md-8 col-lg-10">
          <h1 class="villages-title"></h1>
          <h2 class="villages-heading"></h2>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin:2rem 0">
      <div class="row">
        <div class="col-sm-6">
          <h2>la villa</h2>
          <div class="description">

          </div>
        </div>
        <div class="col-sm-6">
          <h2>amenidades</h2>
<div class="table-responsive">
          <table class="table table-stripped table-hover table-bordered">
            <tr>
              <th>Ocupación</th>
              <td><span class="ocupation"></span> personas</td>
            </tr>
            <tr>
              <th>Recamaras</th>
              <td><span class="bedroom"></span></td>
            </tr>
            <tr>
              <th>Camas</th>
              <td><span class="bed"></span></td>
            </tr>
            <tr>
              <th>Tina exterior</th>
              <td><span class="outdoor-tub"></span></td>
            </tr>
            <tr>
              <th>Extras</th>
              <td>
                <ul class="extra">
                </ul>
              </td>
            </tr>
          </table>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="price-card text-center">
            <span>Desde: <span class="price"></span> por persona por noche</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="reservation-card text-center">
            <span>Reserva ahora: <a href="tel:4494063400">+52 (449) 406 3400</a></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title-1">Galería de Fotos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 no-padding" id="cl-gallery-1">

        </div>
        <div class="col-sm-4 no-padding" id="cl-gallery-2">

        </div>
        <div class="col-sm-4 no-padding" id="cl-gallery-3">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <!-- Root element of PhotoSwipe. Must have class pswp. -->
          <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

              <!-- Background of PhotoSwipe.
                   It's a separate element as animating opacity is faster than rgba(). -->
              <div class="pswp__bg"></div>

              <!-- Slides wrapper with overflow:hidden. -->
              <div class="pswp__scroll-wrap">

                  <!-- Container that holds slides.
                      PhotoSwipe keeps only 3 of them in the DOM to save memory.
                      Don't modify these 3 pswp__item elements, data is added later on. -->
                  <div class="pswp__container">
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                  </div>

                  <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                  <div class="pswp__ui pswp__ui--hidden">

                      <div class="pswp__top-bar">

                          <!--  Controls are self-explanatory. Order can be changed. -->

                          <div class="pswp__counter"></div>

                          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                          <button class="pswp__button pswp__button--share" title="Share"></button>

                          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                          <!-- element will get class pswp__preloader--active when preloader is running -->
                          <div class="pswp__preloader">
                              <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                  <div class="pswp__preloader__donut"></div>
                                </div>
                              </div>
                          </div>
                      </div>

                      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                          <div class="pswp__share-tooltip"></div>
                      </div>

                      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                      </button>

                      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                      </button>

                      <div class="pswp__caption">
                          <div class="pswp__caption__center"></div>
                      </div>

                  </div>

              </div>

          </div>
        </div>
        <div class="col-sm-12 text-center" style="margin-top:1rem">
          <button type="button" name="Ver Todas" class="btn-photo" id="btnGallery"><span class="icon-add_a_photo"></span> Ver Todas</button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/wwwroot/build/js/initializer.js" charset="utf-8"></script>
    <script src="/wwwroot/build/js/photoswipe.min.js" charset="utf-8"></script>
    <script src="/wwwroot/build/js/photoswipe-ui-default.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      var idVillage = window.location.search.substring(1).split("=")[1];
      console.log(idVillage);
      var result = [];
      galleryResult = [];

      function showGalleryIn() {
        $('.show-gallery-in').on('click', function(ev){
            openGallery($($(this)[0]).attr('data-pic'));
        });
      }

      $.get('/wwwroot/build/data/villages.json', (data) => {
        result = data[idVillage -1];
        fillPage(result);
        galleryResult = createItems(result["gallery"]);
        fillGallery(result["gallery"]);
      });

      function fillPage(result){
        $('title').text(result.name);
        $('.villages-hero').css("background-image", `url(/wwwroot/build/img/${result.hero})`);
        $('.villages-hero').find('h1').text(result.name);
        $('.villages-hero').find('h2').text(result.heading);
        result.description.forEach((i, index) => {
          $('.description').append(`<p>${i}</p>`);
        });
        $('.ocupation').text(result.amenities.ocupation);
        $('.bedroom').text(result.amenities.bedrooms);
        $('.bed').text(`${result.amenities.beds} ${result.amenities.bedType}`);
        $('.outdoor-tub').text((result.amenities.outdoorTub ? "Sí": "No"));
        result.extras.forEach((i, index) => {
          $('.extra').append(`<li>${i}</li>`)
        });
        $('.price').text(result.price);
      }

    function fillGallery(item) {
      var added = 0;
      var column = 0;
      while(added < 6){
        if (added < 2) {
          $('#cl-gallery-1').append(
            `<div class="pic-card">
            <img src="/wwwroot/build/img/${item.path}/${item.path}${added+1}.JPG" class="pic" style="width:100%"/>
            <div class="img-bg">
              <div class="b">
                <div class="icon-add show-gallery-in" data-pic="${added+1}"></div>
              </div>
            </div>
            </div>`
          );
        }
        else if(added < 4){
          $('#cl-gallery-2').append(
            `<div class="pic-card">
            <img src="/wwwroot/build/img/${item.path}/${item.path}${added+1}.JPG" class="pic" style="width:100%"/>
            <div class="img-bg">
              <div class="b">
                <div class="icon-add show-gallery-in" data-pic="${added+1}"></div>
              </div>
            </div>
            </div>`
          );
        }
        else{
          $('#cl-gallery-3').append(
            `<div class="pic-card">
            <img src="/wwwroot/build/img/${item.path}/${item.path}${added+1}.JPG" class="pic" style="width:100%"/>
            <div class="img-bg">
              <div class="b">
                <div class="icon-add show-gallery-in" data-pic="${added+1}"></div>
              </div>
            </div>
            </div>`
          );
        }
        added++;
      }
    }

    function createItems(item) {
      var name = item.path;
      var items = [];
      for (var i = 0; i < item.images; i++) {
        items.push({
          src: `/wwwroot/build/img/${name}/${name}${i+1}.JPG`,
          w: 1600,
          h: 1067
        });
      }
      return items;
    }

    function openGallery(byIndex) {
      var indexToStart = 0;
      if (byIndex != null) {
        indexToStart = byIndex - 1;
      }
      var galleryElement = document.querySelectorAll('.pswp')[0];

      var items = galleryResult;
      var options = {
        index: indexToStart
      };

      var gallery = new PhotoSwipe(galleryElement, PhotoSwipeUI_Default, items, options);
      gallery.init();
    }
    document.getElementById('btnGallery').onclick = openGallery;

    $(document).on('click','.show-gallery-in',function(e){
      openGallery($($(this)[0]).attr('data-pic'));
    });
    </script>
  </body>
</html>
