//Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700|Julius+Sans+One|Source+Sans+Pro:200,300,400,600,700,900');

//Colors
$black : #070707;
$gold : #B49651;
$white : #FFF;
$gray : #5E5E5E;

//Breakpoints
$bp-xs: 320px;
$bp-s: 460px;
$bp-m: 768px;
$bp-lg: 1024px;
$bp-xl:1900px;

//General
html{
  font-size: 16px;
}
h1,h2,h3,h4{
  font-family: 'Julius Sans One', sans-serif;
}
p{
  font-family: 'Archivo Narrow', sans-serif;
}
a{
  font-family: 'Source Sans Pro', sans-serif;
}
li{
  list-style: none;
}
.white-color{
  color: $white;
}
.black-color{
  color: $black;
}
.gold-color{
  color: $gold;
}
.gray-color{
  color: $gray;
}
.white-bg{
  background: $white;
}
.black-bg{
  background: $black;
}
.gold-bg{
background: $gold;
}
.gray-bg{
background: $gray;
}
//Header
.logo-mobile{
  display: none;
  @media screen and (max-width: $bp-s){
    display: block;
  }
}

.logo-header{
  display: none;
  max-width: 250px;
  @media screen and (min-width: $bp-s){
    display: block;
  }
}
.icon-menu{
  width: 50px;
  padding-right: 1rem;
  padding-top: 1rem;
}

//Mobile menu

.menu-mobile-open{
  display: block;
  @media screen and(min-width: $bp-lg){
    display: none;
  }
}

.menu-mobile{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .icon-close{
    font-size: 3rem;
  }
  ul{
    padding-left: 0;
    li{
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      padding: .5rem;
      margin: .5rem;
      a{
        color: $white;
        text-decoration: none;
        transition: .3s all ease-in;
        padding: 5px;
        letter-spacing: 2px;
          &:hover{
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            letter-spacing: 3px;
          }
      }
    }
  }
}

//Desktop-menu
.menu-desktop{
  position: relative;
  display: none;
  border-bottom: 1px solid $gold;
  ul{
    display: flex;
    justify-content: space-around;
    li{
      a{
        color: $white;
        text-decoration: none;
      }
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1rem;
      list-style: none;
    }
  }
  @media screen and(min-width: $bp-lg){
    display: block;
    justify-content: space-around;
  }
}

.badge-menu{
  position: absolute;
  -webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
width: 0;
height: 100px;
border: 50px solid $gold;
border-top: 0 solid;
border-bottom: 35px solid rgba(0,0,0,0);
font: normal 100%/normal Arial, Helvetica, sans-serif;
color: rgba(0,0,0,1);
-o-text-overflow: clip;
text-overflow: clip;
p{
  color: $white;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: inherit;
}
}
#booking{
  top: 36px !important;
  right: 10px !important;
  p{
    left: -27px;
    }
}
#exclusive{
  top: 36px !important;
  right: 130px !important;
  p{
    left: -34px !important;
  }
}


//Slider
.slider{
  height: 100vh;
  margin-top: -65px;
  background-image: url('../img/slider.png');
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  .slider-body{
    padding-top: 50%;
    @media screen and(min-width: $bp-m){
        padding-top: 30%;
      }
      @media screend and(min-width: $bp-lg){
        padding-top: 25%;
      }
    }
  }
.slider-title{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.slider-subtitle{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
    &::after{
      content: '-';
    }
    &::before{
      content: '-';
    }
}
.slider-btn{
  margin-top: 2rem;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 1rem;
  margin-top: 1rem;
  a{
    color: $white;
    text-decoration: none;
    border: .1rem solid $white;
    padding: 1rem;
  }
}


//Sections general
.title-1{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  @media screen and (min-width: $bp-m){
    font-size: 2rem;
  }
  letter-spacing: 2px;
  color: $gold;
  padding: 2rem;
}

//suites
#suites{
  text-transform: uppercase;
  color: $black;
  p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a{
      padding: 1rem 1rem;
      border-top: 1px solid $gold;
      transition: .5s all ease-in;
      text-decoration: none;
      color: $gold;
      &:hover{
        border-bottom: 1px solid $gold;
      }
    }
  }
  h3{
    font-weight: bold;
    color: $gold;
    font-size: 2rem;
  }
  h4{
    color: $gold;
  }
  .image{
    background-size: cover !important;
    background-position: 50% !important;
    min-height: 280px !important;
    @media screen and (min-width: $bp-m){
      min-height: 320px !important;
    }
  }
  .one{
    background: url('../img/suites1.jpg');
  }
  .two{
    background: url('../img/suites2.jpg');
  }
}

//villages
.villages-img{
  min-height: 400px;
  background-size: cover;
  background-position: 50%;
  .vi-one{
    background: url('../img/suites1.jpg');
  }
}


//amenities
#amenities{
  background: $black;
  color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media screen and (min-width: $bp-m){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.amenities-card{
  min-height: 320px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $gold;
  text-align: center;
  img{
    @media screen and (min-width: $bp-m){
      width: 70%;
    }
  }
  span{
    font-size: 5rem;
    color: $gold;
    margin: 1rem;
  }
}
.card-text{
  line-height: 1.5rem;
  letter-spacing: 2px;
}
.card-title{
  color: $gold;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-transform: uppercase;
}


//Footer
#footer{
  background: url('../img/footer-bg.png');
  background-position: 50%;
  background-size: cover;
  min-height: 20rem;
  img{
    width: 80%;
  }
  .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: $bp-m){
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  ul{
    li{
      list-style: none;
    }
    a{
      span{
        color: $gold;
      }
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}


.social-icons{
  span{
    font-size: 2rem;
    padding: 1rem;
    color: $gold;
  }
}

.footer-last{
  background: $black;
  color: $white;
  padding: 2rem 0;
}



//Services

#services{
  .services-col{
    min-height: 300px;
    background-size: cover !important;
    background-position: 50% !important;
  }
  .socials{
    background: url('../../build/img/services2.png');
  }
  .villages{
    background: url('../../build/img/services1.png');
  }
  .restaurant{
    background: url('../../build/img/services2.png');
  }
  .spa{
    background: url('../../build/img/services1.png');
  }
  .wellness{
    background: url('../../build/img/services2.png');
  }
  h2{
    color: $white;
    font-weight: bold;
    letter-spacing: .3rem;
  }
}

.before-card{
  width: 80%;
  min-height: 250px;
  margin: 10% auto;
  background-size: cover !important;
  background-position: 50%;
  position: relative;
}
.bc-one{
  background: url('../../build/img/8-02.jpg');
}
.bc-two{
  background: url('../../build/img/8-07.jpg');
}
.bc-three{
  background: url('../../build/img/IMG_0300.jpg');
}
.bc-four{
  background: url('../../build/img/IMG_9527-2.jpg');
}
.floating-card{
  position: absolute;
  right: -50px;
  top: 20%;
  padding: 1rem .5rem;
  background: $gold;
  color: $white;
}
