//Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700|Julius+Sans+One|Source+Sans+Pro:200,300,400,600,700,900');

//Colors
$black : #070707;
$gold : #B49651;
$white : #FFF;
$gray : #5E5E5E;

//Breakpoints
$bp-xs: 320px;
$bp-s: 460px;
$bp-m: 768px;
$bp-lg: 1024px;
$bp-xl:1900px;

//General
html{
  font-size: 16px;
}
h1,h2,h3,h4{
  font-family: 'Julius Sans One', sans-serif;
}
p{
  font-family: 'Archivo Narrow', sans-serif;
}
a{
  font-family: 'Source Sans Pro', sans-serif;
}
li{
  list-style: none;
}
.no-padding{
  padding: 0 !important;
}
.white-color{
  color: $white;
}
.black-color{
  color: $black;
}
.gold-color{
  color: $gold;
}
.gray-color{
  color: $gray;
}
.white-bg{
  background: $white;
}
.black-bg{
  background: $black;
}
.gold-bg{
background: $gold;
}
.gray-bg{
background: $gray;
}

.paragraph{
  box-sizing: border-box;
  letter-spacing: 2px;
}
img[alt="Casa Legado"]{
  cursor: pointer;
}

.no-padding{
  padding: 0;
}

//icons
.arrow{
  padding: .5rem;
  font-size: 1.5rem;
  border: 2px solid $white;
  border-radius: 50%;
  cursor: pointer;
}
.left-slider{
  margin-right: 1rem;
}
.right-slider{
  margin-left: 1rem;
}

//buttons
.cl-btn{
  color: $gold;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: .3s all ease-out;
  outline: none;
  &:hover{
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    letter-spacing: 2px;
    color: $gold;
    text-decoration: none;
  }
  &:active, &:visited{
    color: $gold;
    text-decoration: none;
    padding: .5rem 1rem;
    outline: none;
  }
}

//Header
header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.logo-mobile{
  display: none;
  @media screen and (max-width: $bp-s){
    display: block;
  }
}

.logo-header{
  display: none;
  max-width: 120px;
  @media screen and (min-width: $bp-s){
    display: block;
  }
}
.icon-menu{
  width: 50px;
  padding-right: 1rem;
  padding-top: 1rem;
  @media screen and (min-width: $bp-s){
    padding-top: 0rem;
  }
  cursor: pointer;
}

//Mobile menu

.menu-mobile-open{
  display: block;
  @media screen and(min-width: $bp-lg){
    display: none;
  }
}

.menu-mobile{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .icon-close{
    font-size: 3rem;
    cursor: pointer;
  }
  ul{
    padding-left: 0;
    li{
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      padding: .5rem;
      margin: .5rem;
      a{
        color: $white;
        text-decoration: none;
        transition: .3s all ease-in;
        padding: 5px;
        letter-spacing: 2px;
          &:hover{
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            letter-spacing: 3px;
          }
      }
    }
  }
}

//Desktop-menu
.menu-desktop{
  position: relative;
  display: none;
  border-bottom: 1px solid $gold;
  ul{
    display: flex;
    justify-content: space-around;
    position: relative;
    li{
      a{
        color: $white;
        text-decoration: none;
      }
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1rem;
      list-style: none;
    }
  }
  @media screen and(min-width: $bp-lg){
    display: block;
    justify-content: space-around;
  }
}

.badge-menu{
  position: absolute;
  -webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
width: 0;
height: 100px;
border: 50px solid $gold;
border-top: 0 solid;
border-bottom: 35px solid rgba(0,0,0,0);
font: normal 100%/normal Arial, Helvetica, sans-serif;
color: rgba(0,0,0,1);
-o-text-overflow: clip;
text-overflow: clip;
p{
  color: $white;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 37px;
}
}
#booking{
  top: 51px !important;
  right: 10px !important;
  position: absolute;
  max-width: 100px;
}
#exclusive{
  position: absolute;
  top: 51px !important;
  right: 130px !important;
  max-width: 100px;
}


//Slider
.slider{
  height: 100vh;
  background-image: url('../img/slider1.jpg');
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  .slider-body{
    padding-top: 50%;
    @media screen and(min-width: $bp-xs){
        padding-top: 30%;
      }
      @media screen and(min-width: $bp-lg){
        padding-top: 25%;
      }
    }
  }
.slider-title{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}
.slider-subtitle{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
    &::after{
      content: '-';
    }
    &::before{
      content: '-';
    }
}
.slider-btn{
  margin-top: 2rem;
  font-size: .7rem;
  text-transform: uppercase;

  letter-spacing: 2px;
  @media screen and (min-width: $bp-m){
    letter-spacing: 5px;
    padding: 1rem;
  }
  padding: 2px;
  margin-top: 1rem;
  a{
    outline: none;
    color: $white;
    text-decoration: none;
    border: .1rem solid $white;
    padding: 1rem;
  }
}


//Sections general
.title-1{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  @media screen and (min-width: $bp-m){
    font-size: 2rem;
  }
  letter-spacing: 2px;
  color: $gold;
  padding: 2rem;
}

//intro


// External framework fixes

.slick-slide{
  outline: none;
}


//suites
#suites, #wellness{
  text-transform: uppercase;
  color: $black;
  p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a{
      padding: 1rem 1rem;
      border-top: 1px solid $gold;
      transition: .5s all ease-in;
      text-decoration: none;
      color: $gold;
      &:hover{
        border-bottom: 1px solid $gold;
      }
    }
  }
  h3{
    font-weight: bold;
    color: $gold;
    font-size: 2rem;
  }
  h4{
    color: $gold;
  }
  .image{
    background-size: cover !important;
    background-position: 50% !important;
    min-height: 280px !important;
    @media screen and (min-width: $bp-m){
      min-height: 320px !important;
    }
  }
  .one{
    background: url('../img/suites1.jpg');
  }
  .two{
    background: url('../img/suites2.jpg');
  }
}

//villages
.villages-img{
  min-height: 400px;
  background-size: cover;
  background-position: 50%;
  .vi-one{
    background: url('../img/suites1.jpg');
  }
}
.v-card-2{
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-right: 0;
  padding-left: 0;
  border-radius: 2px;
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  background: $white;
}

.villas-1{
  background: url('../img/villas1.jpg');
  background-size: cover;
  background-position: 50%;
  height: 300px;
}

.villas-2{
  background: url('../img/villas2.jpg');
  background-size: cover;
  background-position: 50%;
  height: 300px;
}

//amenities
#amenities{
  background: $black;
  color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media screen and (min-width: $bp-m){
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.amenities-card{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $gold;
  text-align: center;
  img{
    margin: 0 auto;
    max-width: 80px;
  }
  span{
    font-size: 5rem;
    color: $gold;
    margin: 1rem;
  }
}
.card-text{
  line-height: 1.5rem;
  letter-spacing: 2px;
}
.card-title{
  color: $gold;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-transform: uppercase;
}


//Footer
#footer{
  background: url('../img/footer-bg.jpg');
  background-position: 50%;
  background-size: cover;
  min-height: 20rem;
  img{
    width: 80%;
  }
  .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: $bp-m){
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
  ul{
    li{
      list-style: none;
    }
    a{
      span{
        color: $gold;
      }
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}


.social-icons{
  span{
    font-size: 2rem;
    padding: 1rem;
    color: $gold;
  }
}

.footer-last{
  background: $black;
  color: $white;
  padding: 2rem 0;
}



//Services

#services{
  .services-col{
    min-height: 300px;
    background-size: cover !important;
    background-position: 50% !important;
  }
  .socials{
    background: url('../../build/img/services2.png');
  }
  .villages{
    background: url('../../build/img/services1.png');
  }
  .restaurant{
    background: url('../../build/img/services2.png');
  }
  .spa{
    background: url('../../build/img/services1.png');
  }
  .wellness{
    background: url('../../build/img/services2.png');
  }
  h2{
    color: $white;
    font-weight: bold;
    letter-spacing: .3rem;
  }
}

.before-card{
  width: 80%;
  min-height: 250px;
  margin: 10% auto;
  background-size: cover !important;
  background-position: 50%;
  position: relative;
}
.bc-one{
  background: url('../../build/img/8-02.jpg');
}
.bc-two{
  background: url('../../build/img/8-07.jpg');
}
.bc-three{
  background: url('../../build/img/IMG_0300.jpg');
}
.bc-four{
  background: url('../../build/img/IMG_9527-2.jpg');
}
.floating-card{
  position: absolute;
  right: -50px;
  top: 20%;
  padding: 1rem .5rem;
  background: $gold;
  color: $white;
}
 //spa

 #wellness, #restaurant{
   background: $black;
   h3{
     font-weight: 700;
     color: $gold;
     font-size: 2rem;
   }
   h4{
     color: $gold;
   }
 }

.spa-card{
  margin: 1rem auto;
  width: 90%;
  background: url('/wwwroot/build/img/villa-amistad.jpg');
  background-size: cover;
  background-position: 50%;
  @media screen and(min-width: 768px){
    width: 90%;
    min-height: 550px;
  }
  min-height: 450px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
.spa-img{
}
.spa-card .inner-card{
  border: 2px solid $white;
  position: relative;
  width: 85%;
  margin: 5rem auto;
  min-height: 300px;
  transition: .1s all ease-in;
  &:hover{
    background: rgba(180,150,81,0.7);
  }
  @media screen and(min-width: 768px){
    min-height: 400px;
  }
  ul{
    padding: .5rem;
    li{
      color: $white;
      text-align: center;
      margin: 1rem 0;
      letter-spacing: 1px;
    }
  }
}

.more-spa{
  text-align: center;
  background: $white;
  padding: 1rem 0;
}
.more-spa-a{
  color: $gold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 20ms all ease-in;
  &:hover{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: $gold;
    text-decoration: none;
  }
}

//message
.fc-legado{
  border: none;
  border-top: 1px solid $gold;
  border-bottom: 1px solid $gold;
  border-radius: 0px !important;
  box-shadow: none;
}
.fc-legado:focus {
    border-color: rgb(179, 149, 86);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(179,149,86,.6);
}

.btn-send{
  padding: .5rem 2rem;
    border: none;
    background: none;
    letter-spacing: 2px;
    font-size: 1rem;
    color: #b39556;
    border-top: 1px solid #b39556;
    border-bottom: 1px solid #b39556;
}

.modal-gold{
  background: rgba(180, 150, 81, 0.6);
  color: $white !important;
  border-radius: 0px;
  .close{
    color: $white;
  }
}

.btn-white{
  padding: .5rem 2rem;
    border: none;
    background: none;
    letter-spacing: 2px;
    font-size: 1rem;
    color: $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
}

.price-card{
  background: $gold;
  color: $white;
  padding: 2rem;
  margin: 2rem;
  span{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.reservation-card{
  border: 3px solid $gold;
  padding: 2rem;
  margin: 2rem;
  color: $gold;
  span{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: 'Source Sans Pro', sans-serif;
    a{
      text-decoration: none;
      font-style: italic;
      color: $gold;
    }
  }
}
