@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dp10g8');
  src:  url('fonts/icomoon.eot?dp10g8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dp10g8') format('truetype'),
    url('fonts/icomoon.woff?dp10g8') format('woff'),
    url('fonts/icomoon.svg?dp10g8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-cl .path1:before {
  content: "\e900";
  color: rgb(34, 34, 33);
}
.icon-bar-cl .path2:before {
  content: "\e901";
  margin-left: -1.025390625em;
  color: rgb(34, 34, 33);
}
.icon-bar-cl .path3:before {
  content: "\e902";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path1:before {
  content: "\e903";
  color: rgb(34, 34, 33);
}
.icon-bath-massage-cl .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-bath-massage-cl .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path5:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path6:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path7:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bath-massage-cl .path8:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path1:before {
  content: "\e90b";
  color: rgb(34, 34, 33);
}
.icon-cc-pool-cl .path2:before {
  content: "\e90c";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-cc-pool-cl .path3:before {
  content: "\e90d";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path4:before {
  content: "\e90e";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path5:before {
  content: "\e90f";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path6:before {
  content: "\e910";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path7:before {
  content: "\e911";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-cc-pool-cl .path8:before {
  content: "\e912";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hidrofitness-cl .path1:before {
  content: "\e913";
  color: rgb(34, 34, 33);
}
.icon-hidrofitness-cl .path2:before {
  content: "\e914";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-hidrofitness-cl .path3:before {
  content: "\e915";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hidrofitness-cl .path4:before {
  content: "\e916";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hidrofitness-cl .path5:before {
  content: "\e917";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hidrofitness-cl .path6:before {
  content: "\e918";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hydrocave-cl .path1:before {
  content: "\e919";
  color: rgb(34, 34, 33);
}
.icon-hydrocave-cl .path2:before {
  content: "\e91a";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-hydrocave-cl .path3:before {
  content: "\e91b";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hydrocave-cl .path4:before {
  content: "\e91c";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hydrocave-cl .path5:before {
  content: "\e91d";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-hydrocave-cl .path6:before {
  content: "\e91e";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-locker-cl .path1:before {
  content: "\e926";
  color: rgb(34, 34, 33);
}
.icon-locker-cl .path2:before {
  content: "\e927";
  margin-left: -1.025390625em;
  color: rgb(34, 34, 33);
}
.icon-locker-cl .path3:before {
  content: "\e928";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-locker-cl .path4:before {
  content: "\e929";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-locker-cl .path5:before {
  content: "\e92a";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-meditation-zone-cl .path1:before {
  content: "\e92b";
  color: rgb(34, 34, 33);
}
.icon-meditation-zone-cl .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-meditation-zone-cl .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-meditation-zone-cl .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-more-cl:before {
  content: "\e92f";
}
.icon-multiple-room-cl .path1:before {
  content: "\e930";
  color: rgb(34, 34, 33);
}
.icon-multiple-room-cl .path2:before {
  content: "\e931";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-multiple-room-cl .path3:before {
  content: "\e932";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path4:before {
  content: "\e933";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path5:before {
  content: "\e934";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path6:before {
  content: "\e935";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path7:before {
  content: "\e936";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path8:before {
  content: "\e937";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-multiple-room-cl .path9:before {
  content: "\e938";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-parking-cl .path1:before {
  content: "\e939";
  color: rgb(34, 34, 33);
}
.icon-parking-cl .path2:before {
  content: "\e93a";
  margin-left: -1.025390625em;
  color: rgb(34, 34, 33);
}
.icon-parking-cl .path3:before {
  content: "\e93b";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path1:before {
  content: "\e93c";
  color: rgb(34, 34, 33);
}
.icon-physio-cl .path2:before {
  content: "\e93d";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-physio-cl .path3:before {
  content: "\e93e";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path4:before {
  content: "\e93f";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path5:before {
  content: "\e940";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path6:before {
  content: "\e941";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path7:before {
  content: "\e942";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-physio-cl .path8:before {
  content: "\e943";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-play-cl:before {
  content: "\e944";
}
.icon-play-cl-outline:before {
  content: "\e945";
}
.icon-pool-cl .path1:before {
  content: "\e946";
  color: rgb(34, 34, 33);
}
.icon-pool-cl .path2:before {
  content: "\e947";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-pool-cl .path3:before {
  content: "\e948";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-pool-cl .path4:before {
  content: "\e949";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-pool-cl .path5:before {
  content: "\e94a";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-pool-cl .path6:before {
  content: "\e94b";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-reading-zone-cl .path1:before {
  content: "\e94c";
  color: rgb(34, 34, 33);
}
.icon-reading-zone-cl .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-reading-zone-cl .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reading-zone-cl .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-restaurant-cl .path1:before {
  content: "\e950";
  color: rgb(34, 34, 33);
}
.icon-restaurant-cl .path2:before {
  content: "\e951";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-restaurant-cl .path3:before {
  content: "\e952";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-restaurant-cl .path4:before {
  content: "\e953";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path1:before {
  content: "\e954";
  color: rgb(34, 34, 33);
}
.icon-sauna-cl .path2:before {
  content: "\e955";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-sauna-cl .path3:before {
  content: "\e956";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path4:before {
  content: "\e957";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path5:before {
  content: "\e958";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path6:before {
  content: "\e959";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path7:before {
  content: "\e95a";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path8:before {
  content: "\e95b";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path9:before {
  content: "\e95c";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-sauna-cl .path10:before {
  content: "\e95d";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path1:before {
  content: "\e95e";
  color: rgb(34, 34, 33);
}
.icon-shower-cl .path2:before {
  content: "\e95f";
  margin-left: -1.025390625em;
  color: rgb(34, 34, 33);
}
.icon-shower-cl .path3:before {
  content: "\e960";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path4:before {
  content: "\e961";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path5:before {
  content: "\e962";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path6:before {
  content: "\e963";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path7:before {
  content: "\e964";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path8:before {
  content: "\e965";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path9:before {
  content: "\e966";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path10:before {
  content: "\e967";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path11:before {
  content: "\e968";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path12:before {
  content: "\e969";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path13:before {
  content: "\e96a";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path14:before {
  content: "\e96b";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path15:before {
  content: "\e96c";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-shower-cl .path16:before {
  content: "\e96d";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path1:before {
  content: "\e96e";
  color: rgb(34, 34, 33);
}
.icon-snack-cl .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-snack-cl .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path4:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path5:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path6:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path7:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path8:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path9:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path10:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path11:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path12:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-snack-cl .path13:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-spa-cl .path1:before {
  content: "\e97b";
  color: rgb(34, 34, 33);
}
.icon-spa-cl .path2:before {
  content: "\e97c";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-spa-cl .path3:before {
  content: "\e97d";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path1:before {
  content: "\e97e";
  color: rgb(34, 34, 33);
}
.icon-temazcal-cl .path2:before {
  content: "\e97f";
  margin-left: -0.974609375em;
  color: rgb(34, 34, 33);
}
.icon-temazcal-cl .path3:before {
  content: "\e980";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path4:before {
  content: "\e981";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path5:before {
  content: "\e982";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path6:before {
  content: "\e983";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path7:before {
  content: "\e984";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path8:before {
  content: "\e985";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-temazcal-cl .path9:before {
  content: "\e986";
  margin-left: -0.974609375em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path1:before {
  content: "\e987";
  color: rgb(34, 34, 33);
}
.icon-vapor-cl .path2:before {
  content: "\e988";
  margin-left: -1.025390625em;
  color: rgb(34, 34, 33);
}
.icon-vapor-cl .path3:before {
  content: "\e989";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path4:before {
  content: "\e98a";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path5:before {
  content: "\e98b";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path6:before {
  content: "\e98c";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path7:before {
  content: "\e98d";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-vapor-cl .path8:before {
  content: "\e98e";
  margin-left: -1.025390625em;
  color: rgb(255, 255, 255);
}
.icon-yoga-cl .path1:before {
  content: "\e98f";
  color: rgb(34, 34, 33);
}
.icon-yoga-cl .path2:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(34, 34, 33);
}
.icon-yoga-cl .path3:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yoga-cl .path4:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yoga-cl .path5:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-local_bar:before {
  content: "\e540";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-pool:before {
  content: "\eb48";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
