<div class="container-fluid" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="/wwwroot/build/img/logo-new.png"/>
      </div>
      <div class="col-sm-3">
        <ul class="contact-list">
          <li>
            <a href="https://www.google.com.mx/maps/place/Casa+Legado+Spa+Resort/@21.8377151,-102.1949797,15z/data=!4m5!3m4!1s0x0:0xd09f565e792e8c9d!8m2!3d21.8377151!4d-102.1949797"
            target="_blank">
              <span class="icon-near_me"></span> El Cono #100 B Villa Jesús Terán Lic. (Calvillito)</a>
          </li>
          <li>
            <a href="#">
              <span class="icon-phone"></span> (449) - 238 41 15</a>
              <br>
              <a href="#">(449) 4063400</a>
          </li>
          <li>
            <a href="#">
              <span class="icon-mail_outline"></span> contacto@casalegado.com.mx</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="section-list">
          <li>
            <a href="#">
              <span class="icon-keyboard_arrow_right"></span>
              reservaciones</a>
          </li>
          <li>
            <a href="#">
              <span class="icon-keyboard_arrow_right"></span>
              habitaciones</a>
          </li>
          <li>
            <a href="#">
              <span class="icon-keyboard_arrow_right"></span>
              nosotros</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p class="social-icons">
          <span class="icon-facebook"></span>
          <span class="icon-twitter"></span>
          <span class="icon-instagram"></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer-last">
    <div class="col-sm-12 text-center">
      © Casa Legado | Todos los derechos reservados
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/wwwroot/build/js/slick.js" charset="utf-8"></script>
<script src="/wwwroot/build/js/index.js" charset="utf-8"></script>
