<header>
  <div class="container-fluid">
    <div class="row" style="padding-top:.5rem;">
      <div class="col-xs-6 col-sm-6 col-md-2 text-left">
        <img src="/wwwroot/build/img/logo-new.png" alt="Casa Legado" class="logo-header">
        <img src="/wwwroot/build/img/logo-mobile.png" alt="Casa Legado" class="logo-mobile">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 text-right menu-mobile-open">
        <img src="/wwwroot/build/img/icon-menu.png" class="icon-menu" alt="Menú">
      </div>
      <div class="col-md-10 menu-desktop">
        <ul style="margin-top:1rem">
          <li>
            <a href="/index.html#suites" class="scroll">Villas de Lujo</a></li>
          <li>
            <a href="/index.html#spa" class="scroll">Spa</a></li>
          <li>
            <a href="/index.html#wellness" class="scroll">Centro de Bienestar</a></li>
          <li>
            <a href="/index.html#restaurant" class="scroll">Restaurante</a></li>
          <li>
            <a href="/index.html#business" class="scroll">Centro de Negocios</a>
          </li>
          <li>
            <a href="/index.html#social" class="scroll">centro de convenciones</a>
          </li>
        </ul>
        <div id="booking" class="badge-menu">
          <p>Reserva Ahora</p>
        </div>
        <div id="exclusive" class="badge-menu">
          <p>experiencias exclusivas</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="menu-mobile gold-bg white-color">
  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-right">
          <span class="icon-close"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul>
            <li>
              <a href="/index.html#suites" class="scroll">Villas de Lujo</a></li>
            <li>
              <a href="/index.html#spa" class="scroll">Spa</a></li>
            <li>
              <a href="/index.html#wellness" class="scroll">Centro de Bienestar</a></li>
            <li>
              <a href="/index.html#restaurant" class="scroll">Restaurante</a></li>
            <li>
              <a href="/index.html#business" class="scroll">Centro de Negocios</a>
            </li>
            <li>
                <a href="/index.html#social" class="scroll">centro de convenciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
