<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/wwwroot/build/css/index.css">
<link rel="stylesheet" href="/wwwroot/build/css/icons.css">
<link rel="stylesheet" href="/wwwroot/build/css/slick.css">
<link rel="stylesheet" href="/wwwroot/build/css/slick-theme.css">
<link rel="icon" href="/wwwroot/build/icon/favicon.ico">
